.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
webpack.config.js
webpack.config.ts
gulpfile.js
gulpfile.ts
**/.eslintrc.json
**/*.map
**/*.tsbuildinfo
node_modules/**
!node_modules/@babel/**
!node_modules/fast-glob/**
!node_modules/debug/**
!node_modules/@jridgewell/**
!node_modules/jsesc/**
!node_modules/js-tokens/**
!node_modules/picocolors/**
!node_modules/yallist/**
!node_modules/ms/**
.vscode-test-web/**
**/.vscode/test.js
**/.vscode-test/**
**/.vscode-test-web/**
test-app-analysis.js
test-app-analysis.js.map
test-extension.js
test-generate.js
example/**
test-components/**
__mocks__/**
babel.config.js
ROADMAP.md
deployment-steps.md
.github/**
**/.git/**
**/*.vsix
**/.DS_Store
**/.vscodeignore